<template>
  <div class="card mt-3">
      <div class="card-body">
          <div class="card-title">
              <h3>Messages:</h3>
              <hr>
          </div>
          <div class="card-body">
              <div class="messages" v-for="(msg, index) in messages" :key="index">
                  <p>{{ msg.message }}</p>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import io from 'socket.io-client';
export default {
    data() {
        return {
            messages: [],
            socket : io('localhost:3000')
        }
    },
    mounted() {
        this.socket.on('MESSAGE', (data) => {
            this.messages = [...this.messages, data];
        });
    }
}
</script>

<style>
</style>